.title {
  letter-spacing: -1px;
  font-size: 45px;
}
.regularText {
  font-size: 18px;
}
.tabs:hover {
  background-color: whitesmoke;
}
.menuText {
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}
.focus {
  font-weight: bold;
}
.chartTitle {
  font-weight: bold;
  font-size: 20px;
}

.indicator {
  width: 12px;
  height: 4px;
  background-color: black;
  transition: width 250ms ease;

  &[data-active] {
    width: 40px;
  }
}
