.title {
  letter-spacing: -1px;
  font-size: 45px;
}
.regularText {
  font-size: 18px;
}
.table {
  border: 1px solid rgb(228, 228, 228);
  border-radius: 7px 7px;
  margin-bottom: 20px;
}
.tableHeader {
  font-size: 18px;
}
.tableBody {
  font-size: 16px;
}
